
*
{
    margin: 0;
    padding: 0;
}



.header
{
width: 100%;

}


.menu_bar
{
    display: none;
}

header nav
{
    width: 100%;
    /* margin: 20px auto; */
    background: #023859;

    z-index: 1000;
    /* border: 1px solid greenyellow;     */
}

header nav ul
{
    /* ponde de costado las cajas en la fila y ayuda a ordener para que no se mescle*/
    /* overflow: hidden;  */
    list-style: none; /*puntos desaparecen*/
    /* display: flex; */
    /* justify-content: center; */
    /* cursor: pointer; */
    text-align: center;       
}

header nav ul li 
{
   display: inline-block; 
   /* float: left;  pone de costado las cajas en fila */
   position: relative;
   
   /* background: chartreuse; */
   /* text-align: center; */
   /* justify-content: center; */
}

header nav ul li:hover
{
    background: #E6344A;
}

header nav ul a
{
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
}



header nav ul li span
{
/* 25 */
   margin-right: 10px; 
}

header nav ul li a:hover
{
    
background: #037e8c;

}


header nav ul li .children 
{
  background: red;
  display: none;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

header nav ul li:hover .children 
{
background: blue;
display: block;

}

header nav ul li .children li
{
 display:  block;
 overflow: hidden;
 border-bottom: 1px solid white;
}

header nav ul li .children li a
{
   display: block;
   
}



header nav ul li .children li a span
{
   float: right;
   position: relative;
    top: 3px;
   margin-right: 0;
   margin-left: 10px; 
} 

header nav ul li .caret
{
   position: relative;
   top: 3px;
   margin-left: 10px;
   margin-right: 0px;
}




@media screen and (max-width:560px)
{

header nav
{
    /* width: 80%; */
    max-width: 80%;
   height: 100%;
   left: -100%;
   
   z-index: 1; 
   position: fixed;
   margin: 0;
   overflow: scroll;
   
}


header nav ul
{
    /* ponde de costado las cajas en la fila y ayuda a ordener para que no se mescle*/
    /* overflow: hidden;  */
    list-style: none; /*puntos desaparecen*/
    /* display: flex; */
    /* justify-content: center; */
    cursor: pointer;
    
}

header nav ul li 
{
display: block;
float:  none;
border-bottom: 1px solid rgba(255,255,255, .3);
background: green;
text-align: left;
}


header nav ul li a
{
display: block;
}

header nav ul li:hover .children
{
    display: none;
}


header nav ul li .children
{
    width: 100%;
    position: relative;
    
}


header nav ul li .children li a
{
margin-left: 20px;
}

header nav ul li .caret
{
float: right;

}



.menu_bar
{
    display: block;
    width: 100%;    
   
    
}


.menu_bar .bt-menu
{    
    display: block;
    padding: 20px;
    background: #024959;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:  border-box;
   
}


.menu_bar span
{
float: right; 
font-size: 40px; 

};

}